@charset "UTF-8";
#idbtnac
{
	background-color:#008080;
	color:white;
}
.bgcolor
{
	background-color:black;
	color:white;
}
.bgcolorforsymbols
{
	background-color:#808080;
	color:white;
}